body, html {
  margin: 10px;
  padding: 10px;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.donor-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px; 
  padding-bottom: 80px;
}

.donor-box {
  background: rgba(255, 255, 255, 0.9); 
  padding: 50px; 
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 90%;
  max-width: 400px; 
  color: black;
}

.donor-title {
  margin-bottom: 15px; 
  color: #ff416c;
  font-weight: bold;
  font-size: 20px; 
}

.donor-input, .donor-select {
  width: 100%;
  padding: 10px; 
  margin-bottom: 12px; 
  border: 1.5px solid #d32f2f;
  border-radius: 6px;
  font-size: 14px; 
  transition: all 0.3s ease-in-out;
}

.donor-input:focus, .donor-select:focus {
  border-color: #ff4d4d;
  outline: none;
  box-shadow: 0 0 8px rgba(255, 77, 77, 0.4);
}

.donor-button {
  width: 100%;
  padding: 10px; 
  background: #ff416c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem; 
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.donor-button:hover {
  background-color: #9a0007;
  transform: scale(1.03);
}

.donor-button:active {
  background-color: #7f0000;
  transform: scale(0.97);
}
